@import url('https://fonts.googleapis.com/css?family=Alegreya|Source+Sans+Pro');
/*
*******
colors
*******
blue: 13, 82, 204
red: #D60A00
green: #BFB829
light blue: #42C2D6
magenta: #CC21A8
******
Fonts
******
"Alegreya","Gerogia","Palatino Linotype", serif;
"Source San Pro", "Geneva", "Tahoma", sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/atl.png);
    background-position: right 0px bottom 190px;
    background-repeat: no-repeat;
    background-color: white;
}
#no-body{
    background: none;
}
.display-3, h2, legend{
    font-family: "Alegreya","Gerogia","Palatino Linotype", serif;
    color: #BFB829;  
}
p{
    font-family: "Source San Pro", "Geneva", "Tahoma", sans-serif;
}
.navbar{
    border-bottom: .25rem solid #D60A00;
    background-color: rgba(13, 82, 204, 1); 
}
.nav-link{
    font-size: 1.5rem;
    color:white;
}
.navbar-toggler, .navbar-toggler-icon{
    background-color: white;
}
#logo-image{
    width: 10rem;
}
.jumbotron-fluid{
    background-image: url(../img/atl.png);
    background-position: right -250px bottom 0px;
    background-repeat: no-repeat;
    background-color: white;
}
#bottom{
    background-image: url(../img/wavess.png);
    background-repeat: repeat-x;
    animation: animate 15s linear infinite;
    background-color: white;
}
footer{
    border-top: .5rem solid #D60A00;
    height: 12rem;
    background-color: #BFB829;
}
.col-12{
    padding-bottom: 3rem;
}
.button{
    margin-top: 1rem;
}
#section{
    background-color: rgba(204, 33, 168, 0.2);
    border-left: .2rem solid rgba(13, 82, 204, 1);
    border-right: .2rem solid rgba(13, 82, 204, 1);
}
#logo{
    width: 10rem;  
}
.social{
    margin-left: 2rem;
    }
#facebook{
    margin-left: 4rem;
}
#facebook, #tumblr{
    background-color: white;
}
#instagram{
    background-color: #CC21A8;
}
#pinterest{
    background-color: #D60A00;
}

#instagram:hover, #tumblr:hover, #pinterest:hover, #facebook:hover{
    background-color: #42C2D6; 
    
}
.contact_us{
    margin-left: 2rem;
    font-size: 2rem;
    text-decoration: underline;
    text-shadow: 1rem, 2rem, 5rem;
}
.card{
    border: .2rem solid rgba(13, 82, 204, 1);
    margin-bottom: 1rem;
}
@keyframes animate{
    0%
    {
       background-position:left 0px top 350px; 
    }
     40%
    {
       background-position: left 800px top 130px; 
    }
     80%
    {
       background-position: left 1800px top 100px; 
    }
     100%
    {
       background-position: left 2400px top 130px; 
    }
}

@media screen and (min-width: 770px){
    .jumbotron-fluid{
    background-image: url(../img/atl.png);
    background-position: right 0px top 0px;
    background-repeat: no-repeat;
    background-color: white;
}

    
@keyframes animate{
    0%
    {
       background-position:left 0px top 100px; 
    }
     40%
    {
       background-position: left 800px top -50px; 
    }
     80%
    {
       background-position: left 1800px top -50px; 
    }
     100%
    {
       background-position: left 2400px top 80px; 
    }
    }
}
@media screen and (min-width: 771px){
    .jumbotron-fluid{
    background-image: url(../img/atl.png);
    background-position: right -175px bottom 0px;
    background-repeat: no-repeat;
    background-color: white;
}
}
@media screen and (min-width: 1290px){
    .jumbotron-fluid{
    background-image: url(../img/atl.png);
    background-position: right -170px bottom 0px;
    background-repeat: no-repeat;
    background-color: white;
}
}
@media screen and (min-width: 1640px){
    .jumbotron-fluid{
    background-image: url(../img/atl.png);
    background-position: right 0px bottom 0px;
    background-repeat: no-repeat;
    background-color: white;
}
}